/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 05/06/2025 09:40:49
*/

.PaimentModal {}
.PaimentModal .select-payment-method{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}