/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 31/05/2025 10:38:37
*/

/* .PageComponent {
} */
.text-justify {
  text-align: justify;
}
