/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 02/06/2025 15:57:17
*/

.SubscribeComponent {
}
.SubscribeComponent .error-white {
  color: white;
}
