/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 02/06/2025 11:24:53
*/

.ModalQuickWiew {
}
.ModalQuickWiew .btn-close {
  float: right;
}
